.section-why-us__main-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-inside-section-medium-small);
  width: 100%;
}

.section-faq__main-content {
  display: flex;
  flex-direction: row;
  gap: var(--gap-inside-section-large);
}

.section-contact__main-content {
  display: flex;
  flex-direction: row;
  gap: var(--gap-inside-section-large);
  justify-content: space-between;
  max-block-size: 275px;
}