@import url(./__image/card__image.css);
@import url(./__content/card__content.css);
@import url(./__title/card__title.css);
@import url(./__price/card__price.css);
@import url(./__title-container/card__title-container.css);
@import url(./__description-container/card__description-container.css);
@import url(./__description/card__description.css);
@import url(./__bullet-list/card__bullet-list.css);
@import url(./__buttons-container/card__buttons-container.css);
@import url(./__button-primary-container/card__button-primary-container.css);
@import url(./__buttons-description/card__buttons-description.css);
@import url(./__chips-container/card__chips-container.css);
@import url(./__chip/card__chip.css);
@import url(./__spacing-container/card__spacing-container.css);

.card-list__card {
  display: grid;
  position: relative;
  background-color: var(--background-color-page);
  border-radius: var(--radius-medium);
}

.card-big {
  grid-column-end: span 2;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-inside-section-small);
  min-height: 300px;
}

.card-small {
  grid-template-columns: 1fr;
  gap: var(--gap-inside-section-small);
  grid-auto-rows: min-content 1fr;
}