.reviews-container__reviews-list {
 
  column-gap: var(--gap-inside-section-small);
  row-gap: var(--gap-inside-section-small);
  list-style: none;
  padding: 0;
  align-content: start;
  width: 100%;
  /*
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  */
  
  display: grid;
  grid-template-rows: 475px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  
}