.card__chips-container {
  position: absolute;
  top: var(--gap-inside-section-medium-small);
  left: var(--gap-inside-section-medium-small);
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--gap-inside-section-extra-small);
}

.card-small .card__chips-container {
  width: 80%;
}