.section-home__chip {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-color-light);
  border-radius: var(--radius-medium);
  padding: 8px 12px;
  gap: 8px;
  position: relative;
}

.section-home__chip_no-shift {
  padding-inline-start: 4px;
  padding-block: 0;
  display: flex;
  flex-direction: row;
}

.section-home__chip_no-image {
  padding: 8px 12px;
}

.section-home__chip_no-image .text-accent-font {
  font-size: 20px;
  color: #3F4850;
}