@import url(./__list/reasons-container__list.css);
@import url(./__reason/reasons-container__reason.css);
@import url(./__title/reasons-container__title.css);
@import url(./__text/reasons-container__text.css);
@import url(./__icon/reasons-container__icon.css);
@import url(./__image/reasons-container__image.css);

.reasons-container {
  display: flex;
  flex-direction: row;
  gap: var(--gap-inside-section-large);
}