.form__text-input {
  border-color: transparent;
  border-radius: var(--radius-small);
  padding: 12px 16px;
  vertical-align: top;
  background-color: var(--background-color-input);
}

.form__text-input::placeholder {
  color: var(--text-color-form-placeholder);
}

.form__text-input_message {
  min-height: 80px;
}

.form__text-input_checkbox {
  width: 16px;
  height: 16px;
  margin: 0;
  accent-color: var(--text-color-accent);
}

.form__text-input_checkbox-description {
  font-size: var(--text-size-regular);
  display: block;
}

.form__text-input_checkbox-link {
  color: inherit;
}