@import url(./__video/video-container__video.css);

.video-container {
  inline-size: 100%;
  max-block-size: 325px;
  aspect-ratio: 3.5;
  border-radius: var(--radius-medium);
  overflow: hidden;
  object-position: center;
}