.section-home__chips-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  row-gap: 12px;
  justify-content: start;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}