.header__link {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
  padding: var(--padding-extra-small);
  border-radius: var(--radius-small);
  text-wrap: nowrap;
}

.header__link:not(:has(.logo)):hover {
  background-color: var(--background-color-link-hover);
  color: var(--text-color-accent);
}

.header__link:has(.logo) {
  padding: 0;
}

