.header__link {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
  padding: 8px;
  border-radius: var(--radius-small);
  text-wrap: nowrap;
}

.header__link:hover {
  text-decoration: underline;
  background-color: var(--background-color-link-hover);
  color: var(--text-color-accent);
}