@import url(./__headline/section__headline.css);
@import url(./__text-content/section__text-content.css);
@import url(./section-home__chips-container/section-home__chips-container.css);
@import url(./section-home__chip/section-home__chip.css);
@import url(./section-home__chip-image/section-home__chip-image.css);
@import url(./__main-content/section__main-content.css);
@import url(./__text/section__text.css);
@import url(./__button-container/section__button-container.css);
@import url(./__map/section__map.css);
@import url(./__aside/section-faq__aside.css);
@import url(./__subheadline/section-faq__subheadline.css);
@import url(./__container/section__container.css);

.section {
  width: 100%;
  margin: auto;
  padding-top: var(--gap-between-sections);
}

.section-home {
  padding-top: calc(0.6*var(--gap-between-sections)) ;
}

.section-courses {
  background-color: var(--background-color-light);
  margin-top: var(--gap-between-sections);
}

.section-form {
  background-color: var(--background-color-light);
  padding-bottom: var(--gap-between-sections);
}

.section-contact {
  margin-bottom: var(--gap-between-sections);
}