.card__button-primary-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-inside-section-extra-small);
}

.card-small .card__button-primary-container {
  width: auto;
}