.footer {
  background-color: var(--button-color-primary);
  color: var(--text-color-dark-bg);
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding: calc(var(--gap-inside-section-small)*7) var(--gap-inside-section-small);
}