/*Rule for detecting touch devices*/

@media (pointer: coarse) {
  /* TODO inactive button looks like it is not a button
  .button-language:not(.button-language_is-active) {
    border: solid 2px var(--button-color-primary);
  }
  */

  .button-tertiary {
    border-color: var(--button-color-primary);
  }

  .section-why-us__main-content .button-primary {
    border: solid 2px transparent;
  }
}

@media (width <= 1280px) {
  
  .section-news .section__container {
    border-radius: 0;
  }

  .video-container {
    border-radius: 0;
  }

  .reasons-container__image {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .reasons-container_reverse .reasons-container__image {
    border-top-right-radius: var(--radius-medium);
    border-bottom-right-radius: var(--radius-medium);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-big {
    border-radius: 0;
  }

  .card-big__image {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-list__card:nth-child(even) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-list__card:nth-child(even) .card__image {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-list__card:nth-child(odd) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-list__card:nth-child(odd) .card__image:not(.card-big__image) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .faq-container__collapsible-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .faq-container__content {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .section__map {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media (width <= 1190px) {
  .header-es .header__submenu {
    min-width: auto;
    width: auto;
    gap: var(--gap-inside-section-small);
  }

  .header-es .header__nav-container {
    width: auto;
  }
  .header-es .button-phone {
    display: block;
  }

  .header-es .header__phone,
  .header-es .header__time {
    display: none;
  }

  .header-es .header__submenu > .button-primary {
    display: none;
  }
}

@media (width <= 1024px) {
  html {
    --line-height-page: 1.3;
  }

  .header__submenu {
    min-width: auto;
    width: auto;
    gap: var(--gap-inside-section-small);
  }

  .header__nav-container {
    width: auto;
  }
  .button-phone {
    display: block;
  }

  .header__phone,
  .header__time {
    display: none;
  }

  .header__submenu > .button-primary {
    display: none;
  }

  .card__buttons-description {
    display: none;
  }

  .card-big .card__button-primary-container {
    width: auto;
  }

  .card-big .card__buttons-container {
    gap: 18px;
  }

  .card-big .card__chips-container {
    width: 45%;
  }

  .section-form .section__container {
    gap: 0;
  }

  .form {
    padding: var(--padding-medium);
  }
}

@media (width <= 768px) {
  html {
    --line-height-page: 1.2;
  }

  .button:not(.button-language) {
    font-size: 20px;
    width: 100%;
    max-width: 400px;
  }

  .logo {
    height: 45px;
  }

  .header__nav-container,
  .footer__nav-container {
    display: none;
  }

  .headline_page {
    line-height: 1.2;
  }

  .video-container {
    aspect-ratio: 2;
  }

  .section-why-us__text-content {
    flex-direction: column;
  }

  .section__button-container {
    flex-direction: column;
    align-items: end;
  }

  .reasons-container {
    flex-direction: column;
  }

  .reasons-container_reverse {
    flex-direction: column-reverse;
  }

  .reasons-container__image {
    width: 100%;
    aspect-ratio: 2;
  }

  .reasons-container__icon {
    right: 0;
    width: 15%;
    max-width: 100px;
    min-width: 55px;
  }

  .section-reviews__text-content {
    flex-direction: column;
  }

  .section-reviews__text-content .section__headline {
    max-width: none;
  }

  .reviews-container__reviews-list::-webkit-scrollbar {
    display: none;
  }

  .card-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .card-big {
    grid-template-columns: 1fr;
    gap: var(--gap-inside-section-small);
    grid-column-end: 1;
  }

  .card__description {
    grid-column-end: span 2;
  }

  .card-big .card__chips-container {
    width: 80%;
  }

  .card-big .card__buttons-container {
    justify-content: end;
  }

  .card-big .card__button-primary-container {
    width: 100%;
    justify-content: end;
  }

  .section-form .section__container {
    flex-direction: column;
    gap: calc(var(--gap-inside-section-medium) * 2);
  }

  .form {
    width: 100%;
  }

  .form__input-container_submit {
    flex-direction: column;
    align-items: start;
  }

  .section-faq__main-content {
    flex-direction: column;
  }

  .faq-container__collapsible-button {
    padding: 16px 16px 12px;
  }

  .section-faq__aside {
    padding: var(--padding-small) 16px;
  }

  .section-contact__main-content {
    flex-direction: column;
    max-height: none;
  }

  .section__map {
    width: 100%;
    aspect-ratio: 2;
  }

  .reasons-container__reason,
  .reasons-container__image,
  .reasons-container_reverse .reasons-container__image,
  .card__image,
  .form,
  .faq-container__collapsible-button,
  .faq-container__content,
  .section__map {
    border-radius: 0;
  }
}

@media (width <= 375px) {
  .button-language__text {
    display: none;
  }
}
