/*Rule for detecting touch devices*/

@media (pointer: coarse) {

  /* TODO inactive button looks like it is not a button
  .button-language:not(.button-language_is-active) {
    border: solid 2px var(--button-color-primary);
  }
  */

  .button-tertiary {
    border-color: var(--button-color-primary);
  }

  .section-why-us__main-content .button-primary {
    border: solid 2px transparent;
  }

}


@media (width <= 1024px) {

  html {
    --line-height-page: 1.3;
  }

  .header__submenu {
    min-width: auto;
    width: auto;
    gap: var(--gap-inside-section-small)
  }

  .header__nav-container {
    width: auto;
  }
  .button-phone {
    display: block;
  }

  .header__phone, .header__time {
    display: none;
  }

  .header__submenu > .button-primary {
    display: none;
  }

  .card__buttons-description {
    display: none;
  }

  .card-big .button-primary {
    font-size: inherit;
    
  }

  .card-big .card__button-primary-container {
    width: auto;
  } 

  .card-big .card__buttons-container {
    gap: 18px;
  }

  .card-big .card__chips-container {
    width: 45%;
  }

  .section-form .section__container {
    gap: 0;
  }

  .form {
    padding:var(--padding-medium);
  }
}

@media (width <= 768px) {
  
  html {
    --line-height-page: 1.2;
  }

  .logo {
    height: 45px; 
  }
  
  .header__nav-container, .footer__nav-container {
    display: none;
  }
  
  .headline_page {
    line-height: 1.2;
  }

  .video-container {
    aspect-ratio: 2;
  }
  
  .section-why-us__text-content {
    flex-direction: column;
  }

  .reasons-container {
    flex-direction: column;
  }

  /*TODO the following rule does not work in dev mode*/

  .reasons-container_reverse {
    flex-direction: column-reverse;
  }

  .reasons-container__image {
    width: 100%;
    aspect-ratio: 2;
  }

  .reasons-container__icon {
    right: 0;
    width: 15%;
    max-width: 100px;
    min-width: 55px;
  }

  .section-reviews__text-content {
    flex-direction: column;
  }

  .section-reviews__text-content .section__headline {
    max-width: none;
  }

  .reviews-container__reviews-list::-webkit-scrollbar
  {
    display: none;
  }

  .card-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .card-big {
    grid-template-columns: 1fr;
    gap: var(--gap-inside-section-small);
    grid-column-end: 1;
  }

  .card__description {
    grid-column-end: span 2;
  }

  .card-big .card__chips-container {
    width: 80%;
  }

  .card-big .card__buttons-container {
    justify-content: end;
  }

  .section-form .section__container {
    flex-direction: column;
    gap: calc(var(--gap-inside-section-medium)*2);
  }

  .form {
    width: 100%;
  }

  .section-faq__main-content {
    flex-direction: column;
  }

  .section-faq__aside {
    padding: var(--padding-small) var(--padding-large);
  }

  .faq-container__text {
    padding-top: var(--padding-small);
  }

  .section-contact__main-content {
    flex-direction: column;
    max-height: none;
  }

  .section__map {
    width: 100%;
    aspect-ratio: 2;
  }

 
}

@media (width <= 375px) {
  .button-language__text {
    display: none;
  }
}