html {
  --text-color-main: #1E1E1E;
  --text-color-accent: #FF5151;
  --text-color-dark-bg: #F3F3F3;
  --text-color-chip: #2C2C2C;
  --text-color-form-placeholder: #ABC6D8;
  --button-color-primary: #333A5F;
  --button-color-primary-hover: #0D1127;
  --button-color-secondary: #E3E3E3;
  --button-color-secondary-hover: #CDCDCD;
  --background-color-light: #F7F9FB;
  --background-color-input: #F5F8FA;
  --background-color-page: white;
  

  --text-size-large: 32px;
  --text-size-large-medium: 20px;
  --text-size-regular: 16px;
  --text-size-small: 13px;
  --text-size-h1: 64px;
  --text-size-h2: 48px;
  --text-size-h3: 24px;
  
  --radius-small: 8px;
  --radius-medium: 16px;

  --page-side-margin: 0px;
  --gap-between-sections: 100px;
  --gap-inside-section-large: 48px;
  --gap-inside-section-large-medium: 42px;
  --gap-inside-section-medium: 32px;
  --gap-inside-section-medium-small: 24px;
  --gap-inside-section-small: 16px;
  --gap-inside-section-extra-small: 8px;
  --gap-chips: clamp(16px, 64px, 64px);

  --margin-first-section: -40px;
  --margin-section-side: 16px;
  
  --padding-large: 32px;
  --padding-extra-small: 8px;
}
