html {
  --text-color-main: #292C3F;
  /*between button and text is #292C3F*/
  --text-color-accent: #FF5151;
  --text-color-dark-bg: #F3F3F3;
  --text-color-chip: #2C2C2C;
  --text-color-form-placeholder: #ABC6D8;
  
  --button-color-primary: #333A5F;
  --button-color-primary-hover: #0D1127;
  --button-color-secondary: #E3E3E3;
  --button-color-secondary-hover: #CDCDCD;
  --button-color-disabled: #B3B3B3;
  --background-color-light: #F7F9FB;
  --background-color-input: #F5F8FA;
  --background-color-page: white;
  --background-color-link-hover: #FFF3F3;

  --line-height-page: 1.4;
  
  /*
  text sizes created using https://clamp.font-size.app/
  viewport width set from 375px to 1280px
  */

  --text-size-large: clamp(1.5rem, 1.3333rem + 0.8333vw, 2rem);  /*from 24 to 32*/
  --text-size-large-medium: clamp(1.125rem, 1.0833rem + 0.2083vw, 1.25rem); /*from 18 to 20*/
  --text-size-regular: 16px;                                     /*from 16 to 16*/
  --text-size-small: 13px;                                       /*from 13 to 13*/
  --text-size-h1: clamp(2rem, 0.9882rem + 3.7647vw, 4rem); /*clamp(2.25rem, 1.6667rem + 2.9167vw, 4rem);*/    /*from 36 to 64*/
  --text-size-h2: clamp(1.75rem, 1.3333rem + 2.0833vw, 3rem);    /*from 28 to 48*/
  --text-size-h3: clamp(1.25rem, 1.1667rem + 0.4167vw, 1.5rem);  /*from 20 to 24*/
  
  --radius-small: 8px;
  --radius-medium: 16px;

  /*
  sizes created using https://clamp.vittoretrivi.dev/
  viewport width set from 375px to 1280px
  */

  --page-side-margin: 0px;
  --gap-between-sections: clamp(3.125rem, 2.0833rem + 5.2083vw, 6.25rem); /*from 50 to 100*/
  --gap-inside-section-large: clamp(1.5rem, 1.0000rem + 2.5000vw, 3rem); /*from 24 to 48*/
  --gap-inside-section-large-medium: clamp(1.25rem, 0.7917rem + 2.2917vw, 2.625rem);  /*from 20 to 42*/
  --gap-inside-section-medium: clamp(1rem, 0.6667rem + 1.6667vw, 2rem);  /*from 16 to 32*/
  --gap-inside-section-medium-small: clamp(0.75rem, 0.5000rem + 1.2500vw, 1.5rem);  /*from 12 to 24*/
  --gap-inside-section-small: clamp(0.5rem, 0.3333rem + 0.8333vw, 1rem); /*from 8 to 16*/
  --gap-inside-section-extra-small: clamp(0.25rem, 0.1667rem + 0.4167vw, 0.5rem);  /*from 4 to 8*/

  --margin-first-section: -40px;
  --margin-section-side: clamp(1rem, 0.6667rem + 1.6667vw, 2rem);       /*from 16 to 32*/
  
  --padding-extra-large: clamp(1.5rem, 1.0000rem + 2.5000vw, 3rem);     /*from 24 to 48*/
  --padding-large: clamp(1rem, 0.6667rem + 1.6667vw, 2rem);             /*from 16 to 32*/
  --padding-medium: clamp(0.75rem, 0.5000rem + 1.2500vw, 1.5rem);       /*from 12 to 24*/
  --padding-small: clamp(0.5rem, 0.3333rem + 0.8333vw, 1rem);           /*from 8 to 16*/
  --padding-extra-small: clamp(0.25rem, 0.1667rem + 0.4167vw, 0.5rem);  /*from 4 to 8*/
  --padding-button:  clamp(0.375rem, 0.2500rem + 0.6250vw, 0.75rem)     /*from 6 to 12*/
}
