.form__input-container {
  display: flex;
  flex-direction: column;
  
  gap: var(--gap-inside-section-extra-small);
}

.form__input-container_submit {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-inside-section-medium-small);
}

.form__input-container_checkbox {
  flex-direction: row;
  align-items: center;
  gap: 12px;
}