.card__description-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: var(--gap-inside-section-medium-small);
  height: min-content;
}
/*
.card-small .card__description-container {
  grid-template-columns: auto;
}
  */