.card__image {
  border-radius: var(--radius-medium);
  object-fit: cover;
  object-position: center 30%;
  inline-size: 100%;
}

.card-big__image {
  aspect-ratio: 2.1;
  height: 100%;
}

.card-small__image {
  aspect-ratio: 3;
}