.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-inside-section-medium-small);
  justify-content: start;
  
  padding: 
    var(--padding-small)
    var(--padding-large)
    var(--padding-medium)
    calc(var(--padding-large) - var(--padding-small));
}
