.section__text-content {
  margin-inline: 16px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-inside-section-small);
}

.section-why-us__text-content {
  flex-direction: row;
  gap: var(--gap-inside-section-large);
}

.section__text-content {
  gap: var(--gap-inside-section-medium);
}

.section-contact__text-content {
  margin-block: 14px;
  line-height: 1.3;
}

.section-reviews__text-content {
  flex-direction: row;
  max-width: 1010px;
  gap: var(--gap-inside-section-large);
}

.section-reviews__text-content .section__headline {
  max-width: 46%;
}