.section__headline {
  font-weight: 500;
  font-size: var(--text-size-h2);
  margin: 0;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.headline_page {
  font-weight: 400;
  font-size: var(--text-size-h1);
  margin: 0;
  line-height: 1;
  letter-spacing: -0.01em;
}

.section-courses .section__headline {
  margin-inline: 16px;
}

.section__headline_faq {
  margin-inline: 16px;
}

.section-contact .section__headline {
  margin-inline: 16px;
}